@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

[data-tremor-input] {
  @apply bg-gray-800 border-gray-700;
}

[data-tremor-card] {
  @apply bg-gray-800/30 backdrop-blur-sm border border-gray-700/30;
}
